.container {
    width: 1100px;
    margin: 0 auto;
    padding: 60px 0;
}
.container .header {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 24px;
}
.container .header h1 {
    font-size: 22px;
    font-weight: 600;
    color: var(--color-blue-2);
    margin: 0;
    margin-bottom: 16px;
}
.container .header span {
    font-size: 14px;
    font-weight: 600;
    color: var(--color-blue-2-opacity-40);
}
.container .timetable_list {
    width: 100%;
    display: flex;
    gap: 32px;
}
.container .timetable_wrap {
    background-color: var(--color-white-opacity-50);
    border: 1px solid var(--color-white);
    border-radius: 10px;
    padding: 4px;
    flex: 1;
    position: relative;
    height: 560px;
    transition: .5s ease;
}
.container .timetable_wrap:hover {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    height: 620px;
}
.container .timetable_wrap .button_wrap {
    display: none;
    justify-content: space-between;
    gap: 10px;
    padding: 10px 0;
    animation: fadeIn .5s ease;
    position: absolute;
    bottom: 0;
    left: 4px;
    right: 4px;
}
.container .timetable_wrap .button_wrap button {
    flex: 1;
    height: 44px;
}
.container .timetable_wrap:hover .button_wrap {
    display: flex;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}