.container {
    margin-bottom: 20px;
    border-bottom: 1px solid var(--color-blue-2-opacity-10);
}
.container .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.container .header .ratingBg {
    width: 115px;
    height: 20px;
    background-image: url('/images/icon_starOff.png');
    background-size: contain;
}
.container .header .ratingBg .ratingBar {
    height: 100%;
    background-image: url('/images/icon_starOn.png');
    background-size: contain;
}

.container .header .semester {
    font-size: 14px;
    font-weight: 600;
    color: var(--color-blue-2-opacity-30);
}

.container .content {
    font-size: 16px;
    font-weight: 400;
    color: var(--color-blue-2);
    line-height: 140%;
    margin: 20px 0;
}
