.container {
    display: flex;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--color-opacity-30);
    justify-content: center;
    align-items: center;
    animation: fadeIn .2s ease forwards;
    z-index: 101;
}
.container .popup {
    background-color: var(--color-white);
    padding: 50px 30px 30px 30px;
    border-radius: 10px;
    position: relative;
}
.container .popup .close_btn {
    width: 16px;
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 20px;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}