.container {
  width: 80%;
  max-width: 1800px;
  margin: 0 auto;
  padding: 40px 0 0 0;
}

.title {
  font-size: 22px;
  font-weight: 600;
  color: var(--color-blue-2);
  margin-bottom: 24px;
}

.tab {
  display: flex;
  gap: 8px;
  margin-bottom: 40px;
}

.tab_item {
  padding: 10px 32px;
  border-radius: 999px;
  background: var(--color-blue-2-opacity-10);
  color: var(--color-white);
  font-size: 14px;
  font-weight: 500;
  line-height: 140%;
  text-align: center;
  cursor: pointer;
  transition: background 0.3s, color 0.3s;
}

.tab_item.active {
  background: var(--color-blue-2);
  color: var(--color-white);
}

.content {
  margin-bottom: 48px;
}

.subtitle {
  font-size: 18px;
  font-weight: 600;
  color: var(--color-blue-2);
  margin-bottom: 12px;
}

.table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  background: var(--color-white-opacity-50);
  overflow: hidden;
}

.table thead tr {
  background: var(--color-blue-2-opacity-10);
  color: var(--color-blue-2-opacity-40);
  font-size: 14px;
  font-weight: 600;
}

.table th, .table td {
  padding: 12px 24px;
  text-align: left;
  font-size: 14px;
}

.table th:last-child, .table td:last-child {
  text-align: center;
  width: 60px;
}

.table tbody td {
  border-bottom: 1px solid var(--color-blue-2-opacity-5);
}

.table tbody tr:last-child td {
  border-bottom: none;
}

.table td {
  color: var(--color-blue-2);
  font-weight: 500;
}

.checkIconFilled {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: none;
}

.checkIconEmpty {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: none;
}
