.container {
    width: 80%;
    margin: 0 auto;
    padding-top: 50px;
}
.container .progress_bar {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.container .progress_bar span {
    margin-left: 10px;
    color: var(--color-opacity-30);
    font-size: 14px;
    font-weight: 600;
}