.container {
    padding: 40px 0;
    box-sizing: border-box;
    border-radius: 10px;
    border: 1.5px solid var(--color-bg-start);
    display: flex;
}
.container .contents_wrap {
    flex: 1;
    padding-left: 10%;
}
.container .contents_wrap:first-of-type {
    border-right: 1.5px solid var(--color-bg-start);
}
.container .contents_wrap .contents_name {
    font-size: 20px;
    font-weight: 700;
    color: var(--color-blue-2);
    margin-bottom: 30px;
    margin-top: 0;
}
.container .contents_wrap .item {
    display: flex;
    justify-content: space-between;
    width: 50%;
    color: var(--color-blue-3);
    margin-bottom: 16px;
}
.container .contents_wrap .item .name {
    font-size: 16px;
    font-weight: 700;
    margin-right: 20%;
}

.container .contents_wrap .item .value {
    font-weight: 500;
}